<div id="page-title">

	<div id="page-title-inner">

		<!-- start: Container -->
		<div class="container">

			<h2><i class="ico-stats ico-white"></i><%= @business.name %></h2>

		</div>
		<!-- end: Container  -->

	</div>	

</div>

<div class="wrapper">
	
	<div class="container">

		<div class="row">

			<div class="span4">

				<div class="title"><h3><%= @business.category %></h3></div>

				<p>
					<i class="icon-map-marker"></i>
					<%= @business.address %>
				</p>

				<p>
					<i class="icon-home"></i>
					<a href='<%= @business.website %>'><%= @business.website %></a>
				</p>

			</div>
	
			<div class="span6">
		
					<% unless @business.benefits.count <= 0  %>
		
					<% @business.benefits.each_with_index do |b, i| %>
					
					<div class="span6">
				
						<div class="title">
							<h3><%= b.name %></h3>
						</div>
						
						<ul class="arrow_list">
							<li>
								<div class="points">						
									<h4><b><%= b.checkins_needed %></b> pontos</h4>
								</div>
							</li>
							<li>
								<p class="points"><%= b.description %></p>
							</li>
						</ul>
							
					</div> <!-- /span3 -->

					<% end %>

					<% end %>
		
			</div> <!-- /span8 -->		
	
		</div>
	
	</div> <!-- /container -->
	
</div> <!-- /wrapper -->

<%= render "shared/footer" %>