<!-- start: Slider -->
<!-- start: Page Title -->
<div id="page-header">


		<!-- start: Container -->
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="video-header">
						<iframe width="560" height="315" src="http://www.youtube.com/embed/lUjgLw45MmE" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="span6">
					<div class="text-header">
						<div><h1>Acumule <span>pontos</span></h1></div>
						<div><h1>e tenha sua</h1></div>
						<div><h1><span>fidelidade</span> recompensada!</h1></div>
					</div>
				</div>
			</div>
		</div>
		<!-- end: Container  -->


</div>
<!-- end: Page Title -->

<div id="wrapper">
			
	<!--start: Container -->
	<div class="container">
		
		<hr>

  		<!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
  		<div class="hero-unit">
			<h2>
				Visite os estabelecimentos que você sempre visitou, mas agora pontue e seja recompensado como nunca! 
			</h2>
  		</div>
		<!-- end: Hero Unit -->
  		
		<hr>
		
		<!-- start: Row -->
		<div class="row">
			
			<!-- start: Icon Boxes -->
			<div class="icons-box-vert-container">

				<!-- start: Icon Box Start -->
				<div class="span4">
					<div class="icons-box-vert">
						<i class="ico-ok ico-white circle-color-full"></i>
						<div class="icons-box-vert-info">
							<h3>Dispense seus cartões</h3>
							<p>Não utilize mais dezenas de cartões. Pontue utilizando somente seu e-mail, smartphone ou tenha somente um cartão para todos os estabelecimentos conveniados.</p>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<!-- end: Icon Box-->

				<!-- start: Icon Box Start -->
				<div class="span4">
					<div class="icons-box-vert">
						<i class="ico-cup  ico-white circle-color-full"></i>
						<div class="icons-box-vert-info">
							<h3>Melhores recompensas</h3>
							<p>Seja recompensado por ser um cliente fiel, receba os melhores benefîcios que seu estabelecimento favorito pode oferecer e que dinheiro nenhum pode comprar.</p>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<!-- end: Icon Box -->

				<!-- start: Icon Box Start -->
				<div class="span4">
					<div class="icons-box-vert">
						<i class="ico-iphone ico-white circle-color-full"></i>
						<div class="icons-box-vert-info">
							<h3>Smartphone</h3>
							<p>Baixe nosso aplicativo para Android ou IPhone e pontue utilizando seu smartphone.</p>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<!-- end: Icon Box -->

			</div>
			<!-- end: Icon Boxes -->
			<div class="clear"></div>
		</div>
		<!-- end: Row -->
		
		<hr>
		
	

	<hr>

	<!-- start: Page Title -->
	<div id="page-title">

		<div id="page-title-inner">

			<!-- start: Container -->
			<div class="container">

				<h2><i class="ico-circle-question-mark ico-white"></i>Tem um negócio</h2>

			</div>
			<!-- end: Container  -->

		</div>	

	</div>
	
	<hr>

	<div class="row">

		<div class="span9">

			<div class="title"><h3>Como funciona?</h3></div>

			<!-- start: Row -->
      		<div class="row">

				<div class="span3">
					<img src="assets/img/hand-touching.jpg" alt="team member">
					<div class="team-name">Receba um tablet</span></div>
					<p>Receba um tablet do Pontue.me e disponibilize em seu estabelecimento junto com o restante do material.</p>
				</div>

				<div class="span3">
					<img src="assets/img/satisfaction-questionnaire.jpg" alt="team member">
					<div class="team-name">Fidelize seu cliente</span></div>
						<p>Crie recompensas diferenciadas e deixe que seus clientes troquem pelos pontos acumulados e sintam-se completamente recompensados.</p>
				</div>
				
				<div class="span3">
					<img src="assets/img/online-reports.jpg" alt="team member">
					<div class="team-name">Acesse relatórios</span></div>
						<p>Tenha maior controle sobre seu programa de fidelidade acessando relatórios online direto em nosso site.</p>
				</div>

      			</div>
			<!-- end: Row -->

		</div>

   		<div class="span3">
			<div class="title"><h3>Contate-nos</h3></div>

				<!-- start: Contact Form -->
				<div id="contact-form">
					
					<div class="alert">
						<button type="button" class="close" data-dismiss="alert">×</button>
					</div>

					<%= form_tag url_for(:controller => 'contact_form'), :remote => true %>
					<form method="post" action="">

						<fieldset>
							<div class="clearfix">
								<label for="name"><span>Nome:</span></label>
								<div class="input">
									<%= text_field_tag "name", nil, :html => { :tabindex => "1", :size => "25"} %>
								</div>
							</div>

							<div class="clearfix">
								<label for="email"><span>Email:</span></label>
								<div class="input">
									<%= email_field_tag "email", nil, :html => { :tabindex => "2", :size => "25", :class => "input-xlarge" } %>
								</div>
							</div>

							<div class="clearfix">
								<label for="message"><span>Mensagem:</span></label>
								<div class="input">
									<%= text_area_tag "body", nil, :class => 'input-large', :rows => 7, 
										:html => { :tabindex => "3", :class => "input-xlarge"} %>
								</div>
							</div>

							<div class="actions">
								<%= submit_tag "Enviar", :id => "send", :class => 'btn btn-succces btn-large', :html => { :tabindex => "3"} %>
							</div>
						</fieldset>

					</form>

				</div>
				<!-- end: Contact Form -->

			</div>

    	</div>

	<hr>

	<!-- start: Row -->
	<div class="row">

		<div class="span12">
		
			<!-- start: Testimonials-->

			<div class="testimonial-container">

				<div class="title"><h3>Os clientes estão dizendo!</h3></div>

					<div class="testimonials-carousel" data-autorotate="3000">

						<ul class="carousel">

							<li class="testimonial">
								<div class="testimonials">É a evolução de programas de fidelidade.</div>
								<div class="testimonials-bg"></div>
								<div class="testimonials-author">Dono de loja de roupas</div>
							</li>

							<li class="testimonial">
								<div class="testimonials">É o melhor programa de fidelidade que já nos ofereceram.</div>
								<div class="testimonials-bg"></div>
								<div class="testimonials-author">Dono de pub</div>
							</li>

						</ul>

					</div>

				</div>

			<!-- end: Testimonials-->
		
		</div>

	</div>
	<!-- end: Row -->

</div>
	
<%= render "shared/footer" %>