<div id="page-title">

	<div id="page-title-inner">

		<!-- start: Container -->
		<div class="container">

			<h2><i class="ico-stats ico-white"></i>Painel de Controle</h2>

		</div>
		<!-- end: Container  -->

	</div>	

</div>

<div class="wrapper">
	
	<div class="container">
		
		<div class="row">

			<div class="span4">

				<div class="title"><h3>Resumo de utilização</h3></div>

				<ul class="progress-bar progress-statistics">
					
					<% total = @checkins.map{|c| c.points}.inject{|sum,x| sum + x }.presence || 1 %>
					<% mes = @checkins.select { |c| c.created_at > 30.days.ago && c.created_at.month == DateTime.now.month}
						.map{|c| c.points}
						.inject{|sum,x| sum + x }
						.presence || 0 %>						
					<% resgates = @coupons.map{|c| c.points}.inject{|sum,x| sum + x }.presence || 0 %>
					
					<li>
						<h3>Total de pontos: <%= total %></h3>
		            	<div class="meter">
							<span style="width: 370px;"></span>
						</div>
		          	</li>
		
					<li class="separate">						
						<h3>Pontos nesse mês: <%= mes %><h3>
		            	<div class="meter">
							<span style="width: <%= (([mes, 1].max()) * 370) / total %>px;"></span>
						</div>
		          	</li>
		
					<li>						
						<h3>Pontos resgatados: <%= resgates %><h3>
		            	<div class="meter">
							<span style="width: <%= (([resgates, 1].max()) * 370) / total %>px;"></span>
						</div>
		          	</li>
		
				</ul>
				<ul class="progress-bar">
		
					<li>						
		            	<h3>Benefícios trocados: <%= @coupons.count %><h3>
					</li>
					
				</ul>

			</div>
			<!-- /span4 -->
			
			<div class="span4">
				
				<div class="title"><h3>Facebook</h3></div>
				
				<%= high_chart("social_chart", @social) %>
				
			</div>
			<!-- /span4 -->
			
			<div class="span4">
				
				<div class="title"><h3>Idade e Sexo</h3></div>
				
				<%= high_chart("gender_age_chart", @gender_age) %>
				
			</div>
			<!-- /span4 -->
			
		</div>
		<!-- /row -->
		
	</div>
	<!-- /container -->

</div>
<!-- /wrapper -->