<div id="page-title">

	<div id="page-title-inner">

		<!-- start: Container -->
		<div class="container">

			<h2><i class="ico-stats ico-white"></i>Resumo</h2>

		</div>
		<!-- end: Container  -->

	</div>	

</div>

<div class="wrapper">
	
	<div class="container">

		<% unless current_user.password_changed %>

		<div class="hero-unit">
			<h2>Nunca mudou sua senha? Mude <%= link_to "aqui", edit_user_registration_path, :html => {:class => 'h1-pontueme' } %><h2>
		</div>

		<% end %>
		
		<% if !(current_user.social_authentications.count > 0) %>
		
		<div class="hero-unit">
			<h2>Conecte-se ao <%= link_to "Facebook", "/users/auth/facebook", :html => {:class => 'h1-pontueme' } %> e compartilhe com seus amigos!<h2>
		</div>
		
		<% elsif flash[:facebook] %>
		
		<div class="hero-unit">
			<div class="row">
				<h2><%= flash[:facebook] %></h2>
			</div>
		</div>
			
		<% end %>

		<% unless @checkins.count > 0  %>

		<div class="hero-unit">
				<h2>Você ainda não pontuou em nenhum estabalecimento credenciado ao <span class='h1-pontueme'>Pontue.me</span><h2>
		</div>

		<% else %>

		<div class="row">
			
			<div class="span8">
				
				<div id="something">
					
					<div class="title">
						<h3>Pontos recentes</h3>
					</div>
					
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Estabelecimento</th>
								<th>Hora</th>
								<th>Pontos</th>
							</tr>
						</thead>
						<tbody>
							<% @checkins.take(10).each do |c| %>
								<tr>
									<td><%= c.business.name %></td>
									<td><%= c.created_at %></td>
									<td><%= c.points %></td>
								</tr>
							<% end %>
						</tbody>								
					</table>
					
				</div>
				
				<!-- close: something -->
			
			</div>
			
			<!-- close: span8 -->
			<!-- open: span4 -->
						
			<div class="span4">

				<!-- open: sidebar -->
				<div id="sidebar">
					
					<div class="title"><h3>Estabelecimentos visitados</h3></div>
					<ul class="progress-bar">
						
						<% @ubps.each do |b| %>
						
							<li>
				            	<a href="/businesses/<%= b.business.id %>" >
									<h3><%= b.business.name %> ( <%= b.points %> pontos )</h3>
								</a>
				            	<div class="meter"><span style="width: <%= b.points %>px;"></span></div><!-- Edite width here -->
				          	</li>
						<% end %>
			      	</ul>
					
				</div>
				<!-- close: sidebar -->
								
			</div>
			
			<!-- close: span4 -->
			
		</div>
		
		<!-- close:row -->
		<!-- open:row -->

		<div class="row">
			
			<div class="span8">
				
				<div id="add-card-region">
					
					<div class="alert">
						<button type="button" class="close" data-dismiss="alert">×</button>
					</div>
					
					<div class="title">
						<h3>Cartões Cadastrados</h3>
					</div>
					
					<%= form_tag url_for(:controller => 'cards', :action => 'create'), :remote => true %>
					<table class="table table-striped" id='card-list'>
						<thead>
							<tr>
								<th>Cartão</th>
								<th>Pontos</th>
							</tr>
						</thead>
						<tbody>
							<% current_user.cards.each do |c| %>
								<tr>
									<td><%= c.code %></td>
									<td><%= c.card_points.sum("points") %></td>
								</tr>
							<% end %>							
							<tr>
								<td><%= text_field_tag "code", nil, :class => 'input-large'%></td>
								<td><button class="button btn btn-primary btn-large" id="add_card">Adicionar</button></td>
							</tr>
						</tbody>								
					</table>
					
				</div>
				
				<!-- close: something -->
			
			</div>
		
	</div>
	
	<% end %>
	
</div>

<%= render "shared/footer" %>