<div class="account-container register">
  
  <div class="content clearfix">
  
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|%>

  <h1>Atualizar senha</h1>
  
  <div class="login-fields">
        
    <p>Atualize sua senha:</p>              
    <%= devise_error_messages! %> 

    <div class="field">
      <label for="password">Senha:</label>
        <%= f.password_field :password, :class => 'login', :placeholder => 'Senha'  %>   
    </div>

    <div class="field">
      <label for="password_confirmation">Confirmacao:</label>
        <%= f.password_field :password_confirmation, :class => 'login', :placeholder => 'Confirmação'  %>
    </div>

    <div class="field">
      <label for="current_password">Senha Atual:</label>
        <%= f.password_field :current_password, :class => 'login', :placeholder => 'Senha Atual'  %>
    </div>

    <%= f.hidden_field :password_changed, :value=>'true' %>

    </div> <!-- /login-fields -->

    <div class="login-actions">
      <p><%= f.submit "Atualizar", :class => "button btn btn-primary btn-large" %></p>
    </div> <!-- .actions -->

  </div>
  
  <% end %>
  
</div>

<script src="../assets/theme/jquery-1.7.2.min.js"></script>

<script src="../assets/theme/bootstrap.js"></script>
<script src="../assets/theme/base.js"></script>

<script src="../assets/theme/signin.js"></script>